<header class="bg-white dark:bg-gray-800 shadow-sm">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16 w-full">

      <div class="relative group">
        <%= link_to root_path, class: "flex items-center" do %>
          <%= image_tag "avivas.png", alt: "Avivas Logo", class: "h-16 w-auto ml-4 mt-4" %>
        <% end %>
        <!-- Submenu: Appears on logo hover -->
        <div class="absolute left-0 transform -translate-x-1/4 hidden group-hover:block bg-white dark:bg-gray-700 shadow-lg rounded-md overflow-hidden min-w-[200px] mt-1 z-10 group-hover:opacity-100 group-hover:scale-100 opacity-0 scale-95 transition-all duration-300 p-2">
          <div class="py-1">
            <% Category.all.each do |category| %>
              <%= link_to category.name, category_path(category), class: "block px-4 py-2 text-center text-gray-600 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-900 dark:hover:text-white whitespace-nowrap" %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Right Section: User Panel -->
      <div class="flex items-center space-x-4 ml-auto">
        <% if user_signed_in? %>
          <%= link_to "Panel Admin", admin_root_path, class: "text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" %>
          <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" %>
        <% else %>
          <%= link_to "Iniciar Sesión", new_user_session_path, class: "text-gray-600 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white" %>
        <% end %>
      </div>

    </div>
  </div>
</header>

