<h1>Products</h1>

<div class="categories">
  <h2>Categories</h2>
  <ul>
    <% @categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
</div>

<div class="products">
  <h2>Available Products</h2>
  <ul>
    <% if @products.empty? %>
      <p>No available products found.</p>
    <% else %>
      <% @products.each do |product| %>
      <li>
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <p>Price: <%= number_to_currency(product.unit_price) %></p>
        <p>Stock: <%= product.stock %></p>
        <% if product.images.attached? %>
          <div class="product-images">
            <% product.images.each do |image| %>
              <%= image_tag(image, size: "100x100") %>
            <% end %>
          </div>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>

