<h1>Products</h1>

  <div class="mb-4">
        <div class="mb-4 flex justify-center">
          <%= search_form_for @q do |f| %>
            <div class="flex items-center dark:text-gray-300">
              <%= f.search_field :name_or_description_cont, class: "form-input dark:bg-gray-800 dark:text-gray-300" %>
              <%= f.submit "Search", class: "ml-2 btn btn-primary dark:bg-gray-700 dark:text-gray-300" %>
            </div>
          <% end %>
        </div>
  </div>

  <h2>Available Products</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% if @products.empty? %>
      <p class="text-gray-500 dark:text-gray-400">No available products found.</p>
    <% else %>
      <% @products.each do |product| %>
      <%= render partial: 'shared/product_card', locals: { product: product, hide_category: false} %>
      <% end %>
    <% end %>
  </div>
  <div class="mt-8">
    <%= paginate @products %>
  </div>
</div>


