<h1><%= @product.name %></h1>

<div class="bg-white dark:bg-gray-800 shadow-md rounded p-4 mb-4">
  <p class="mb-2 dark:text-gray-300"><strong>Description:</strong> <%= @product.description %></p>
  <p class="mb-2 dark:text-gray-300"><strong>Unit Price:</strong> <%= number_to_currency(@product.price) %></p>
  <p class="mb-2 dark:text-gray-300"><strong>Stock:</strong> <%= @product.stock %></p>
  <p class="mb-4 dark:text-gray-300"><strong>Category:</strong> <%= @product.category.name %></p>
</div>

<h2>Images</h2>
<div class="bg-white dark:bg-gray-800 shadow-md rounded p-4 mb-4">
  <% @product.images.each do |image| %>
    <%= image_tag image, class: "inline-block mr-2 mb-2 border rounded" %>
  <% end %>
</div>

<%= link_to 'Back', products_path, class: "text-blue-500 hover:underline dark:text-blue-300" %>
