<div class="container mx-auto py-8 dark:bg-gray-800 text-center">
  <h1 class="text-3xl font-bold mb-6 dark:text-white">Panel de Administración</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="bg-white shadow-md rounded-md p-6 dark:bg-gray-700">
      <h2 class="text-xl font-bold mb-4 dark:text-white">Ventas Recientes</h2>
      <ul class="space-y-2">
        <% @recent_sales.each do |sale| %>
          <li>
            <span class="text-white-500 dark:text-white-300">#<%= sale.id %></span>
            <span class="text-gray-500 dark:text-gray-400">el <%= sale.created_at.strftime("%b %d, %Y") %></span>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="bg-white shadow-md rounded-md p-6 dark:bg-gray-700">
      <h2 class="text-xl font-bold mb-4 dark:text-white">Productos Más Vendidos</h2>
      <ul class="space-y-2">
        <% @best_selling_products.each do |product| %>
          <li><%= link_to product.name, admin_product_path(product), class: "text-blue-500 hover:underline dark:text-blue-300" %></li>
        <% end %>
      </ul>
    </div>

    <div class="bg-white shadow-md rounded-md p-6 dark:bg-gray-700">
      <h2 class="text-xl font-bold mb-4 dark:text-white">Productos con Bajo Stock</h2>
      <ul class="space-y-2">
        <% @low_stock_products.each do |product| %>
          <li><%= link_to product.name, admin_product_path(product), class: "text-blue-500 hover:underline dark:text-blue-300" %></li>
        <% end %>
      </ul>
    </div>

    <div class="bg-white shadow-md rounded-md p-6 dark:bg-gray-700">
      <h2 class="text-xl font-bold mb-4 dark:text-white">Ventas Totales</h2>
      <p class="text-4xl font-bold dark:text-white"><%= number_to_currency(@total_sales) %></p>
    </div>
  </div>

  <div class="mt-8">
    <%= link_to 'Editar mi perfil', edit_admin_user_path(current_user), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>

