<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen">
  <div class="max-w-lg mx-auto text-center">
    <div class="max-w-6xl mx-auto">
      <div class="flex justify-between items-start">
        <h1>Usuarios</h1>
        <%= link_to new_admin_user_path,
          class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:focus:ring-indigo-400" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
          <span>Nuevo Usuario</span>
        <% end %>
      </div>
    </div>

    <ul class="space-y-4">
      <% if @users.empty? %>
        <li class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md flex justify-between items-center mb-2">
          <div class="flex-grow text-center">
            <h3>No hay usuarios disponibles</h3>
            <p class="mb-4">Actualmente no hay usuarios para mostrar.</p>
          </div>
        </li>
      <% else %>
        <% @users.each do |user| %>
          <li class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md flex justify-between items-center mb-2 mx-auto">
            <div class="flex flex-col text-left">
              <h3><%= link_to user.username, admin_user_path(user), class: "text-blue-500 dark:text-blue-400 hover:underline" %></h3>
              <p class="text-sm text-gray-500 dark:text-gray-400"><%= user.email %></p>
            </div>
            <div class="flex space-x-4 ml-4">
              <% if current_user.admin? || (current_user.manager? && !user.admin?) %>
                <%= link_to 'Editar', edit_admin_user_path(user), class: "text-blue-500 dark:text-blue-400 hover:underline mr-2" %>
                <% if current_user.admin? %>
                  <% if user.active_for_authentication? %>
                    <%= button_to 'Desactivar', deactivate_admin_user_path(user),
                        method: :patch, 
                        confirm: '¿Estás seguro de que deseas desactivar este usuario?',
                        class: 'text-red-500 dark:text-red-400 hover:underline mr-2' %>
                  <% else %>
                    <%= button_to 'Activar', activate_admin_user_path(user),
                        method: :patch,
                        confirm: '¿Estás seguro de que deseas activar este usuario?',
                        class: 'text-red-500 dark:text-red-400 hover:underline mr-2' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="flex justify-center mt-4">
      <%= paginate @users %>
    </div>
  </div>

</body>
