<!DOCTYPE html>
<html>
  <head>
    <title>Avivas - Panel de Administración</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen bg-gray-100">
    <div class="flex">
      <%= render 'admin/shared/sidebar' %>

      <div class="flex-1">
        <%= render 'admin/shared/header' %>
        <%= render 'shared/flash' %>

        <main class="p-6">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
