<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <title>Avivas - Panel de Administración</title>
    <%= render 'shared/head' %>
  </head>

  <body class="min-h-screen bg-gray-50 dark:bg-gray-900">
    <div class="flex">
      <div class="flex-1">
        <%= render 'admin/shared/header' %>
        <%= render 'shared/flash' %>

      <main class="container mx-auto px-4 py-8">
          <%= yield %>
        </main>
      </div>
    </div>
    <%= render 'public/shared/footer' %>
  </body>
</html>
