<!DOCTYPE html>
<html class="dark">
  <head>
    <title><%= content_for(:title) || "Avivas" %></title>
    <%= render 'shared/head' %> <!-- Render the head partial here -->
    <%= yield :head %>
  </head>

  <body>
    <%= render 'shared/flash' %>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

  </body>
</html>
